{% extends 'base.html' %}

{% block main %}
<div class="container mt-4">
    <h2 class="text-center">Available polls</h2>
    <ul class="list-group">
        {% for poll in polls %}
            <li class="list-group-item">
                <a href="{% url 'polls:polls_details' poll_pk=poll.id %}"><h3>{{ poll.title }}</h3></a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
