{% extends 'base.html' %}

{% load bootstrap4 %}

{% block main %}
<div class="container mt-4">
    <h2 class="text-center">New poll</h2>
    <form action="{% url 'polls:polls_new' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form poll_form %}
        <div>
            <h3>Choices:</h3>
            {% bootstrap_formset choices_formset %}
        </div>
        {% buttons %}
            <button type="submit" class="btn btn-lg btn-primary">Create a poll</button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}
