{% extends 'base.html' %}

{% load bootstrap4 %}
{% load markdown_extras %}

{% block main %}
{% if poll.background_image_url %}
    <img class="poll_banner img-fluid poll-banner" src="{{ poll.background_image_url }}" alt="{{ poll.background_image_filename }}">
{% endif %}
<div class="container mt-4">
    <h2>
        {% if poll.is_closed %}<span class="badge badge-warning">Closed</span>{% endif %}
        <a href="{% url 'accounts:user-profile' username=poll.author_username %}">{{ poll.author_username }}</a>:
        {{ poll.title }}
    </h2>

    {% if poll.description %}
        <div>{{ poll.description|render_as_markdown|safe }}</div>
    {% endif %}

    <div class="mt-4 p-3 shadow">
        {% for choice in poll.choices %}
            <div class="card mt-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ choice.title }} <span class="badge badge-warning">({{ choice.voters|length }} voter{{ choice.voters|length|pluralize }})</span></h5>
                    <div style="height: 30px;" class="d-flex">
                        <form class="mr-2" action="{{ choice.url_for_vote }}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-success h-100" type="submit"{% if not choice.can_be_voted %} disabled{% endif %}><i class="gg-math-plus"></i></button>
                        </form>
                        <form action="{{ choice.url_for_unvote }}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-danger h-100" type="submit"{% if not choice.can_be_unvoted %} disabled{% endif %}><i class="gg-math-minus"></i></button>
                        </form>
                    </div>
                    {% if poll.show_voters and choice.voters|length %}
                    <div class="mt-2">
                        <h4>Voters:</h4>
                        <ul class="list-group">
                            {% for voter in choice.voters %}
                                <li class="list-group-item">{{ voter.username }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-4 p-3 shadow">
        {% if user.is_authenticated %}
            <div>
                <h3>New comment</h3>
                <form action="{{ poll.url_for_comment }}" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form comment_form %}
                    {% buttons %}
                        <button class="btn btn-lg btn-primary" type="submit">Comment the poll</button>
                    {% endbuttons %}
                </form>
            </div>
        {% endif %}
        {% if poll.comments|length > 0 %}
            <div class="mt-2">
                <h3>Comments</h3>
                <div>
                    {% for comment in poll.comments %}
                        <div class="card mt-2 shadow-sm" id="comment_{{ comment.pk }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ comment.author_username }} commented:</h5>
                                <p class="card-text">{{ comment.content }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
