{% extends 'base.html' %}

{% block main %}
<div class="container mt-4">
    <h2>Hello {{ account.username }}</h2>

    {% if account.all_polls %}
        <h3>My polls:</h3>
        <ul class="list-group">
        {% for poll in account.all_polls %}
            <li class="list-group-item mt-2 border">
                <a href="{{ poll.url_for_view }}">
                    {% if not poll.is_public %}<span class="text-black-50">(secret)</span>{% endif %}
                    {{ poll.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if account.unread_notifications %}
    <h3>Unread notifications:</h3>
    <ul class="list-group">
        {% for notification in account.unread_notifications %}
            <li class="d-flex align-items-baseline justify-content-between list-group-item mt-2">
                <div>{{ notification.content }}</div>
                {% if notification.related_url %}
                    <a class="btn btn-outline-primary p-1 rounded" href="{{ notification.related_url }}">
                        See more
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <form action="{% url 'notifications:notifications-mark-as-read' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-lg btn-primary mt-2" type="submit">Mark as read</button>
    </form>
    {% else %}
    <h3>You have no new notifications</h3>
    {% endif %}
</div>
{% endblock %}
