{% extends 'base.html' %}

{% block main %}
<div class="container mt-4">
    <h2>User {{ account.username }}</h2>

    {% if account.polls %}
        <h3>Polls:</h3>
        <ul class="list-group">
        {% for poll in account.polls %}
            <li class="list-group-item mt-2"><a href="{{ poll.url_for_view }}">{{ poll.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
