{% extends 'base.html' %}

{% load bootstrap4 %}

{% block main %}
<div class="container mt-4">
    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-lg btn-primary" type="submit">Login</button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}
